PySide6==6.5.2
requests~=2.32.0
loguru==0.7.2
tencentcloud-sdk-python-teo==3.0.1019
pyinstaller==6.3.0
packaging~=24.2
tencentcloud-sdk-python~=3.0.1275
cloudflare~=2.8.15
alibabacloud-alidns20150109>=3.0.8
alibabacloud-tea-openapi>=0.3.8
alibabacloud-tea-util>=0.3.8
alibabacloud-endpoint-util>=0.0.3
alibabacloud-openapi-util>=0.2.1